<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<packageSources>
		<!-- Если в проекте нужен еще один источник nuget репозитория -->
		<add key="UCS RND Nuget" value="https://nuget-int.ucs.ru/v3/index.json" />
	</packageSources>
	<config>
		<!-- Куда пушить пакеты после сборки -->
		<add key="DefaultPushSource" value="https://nuget-int.ucs.ru/v3/index.json" />
	</config>
</configuration>